*{
    box-sizing: border-box;
}

.card{
    background-color: gray;
    max-width: 700px;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card .imgWrapper{
    width: 50%;
    height: 100%;
}


.card .imgWrapper .img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}